{% extends 'base.html' %}

{% block content %}
{{super()}}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
<p><label>Email:</label><input type="email" required name="email" value="">
<p><label>Пароль:</label><input type="text" required name="psw" value="">
<p><input type='checkbox' name="remainme" />Запомнить меня
<p><input type="submit" value="Войти">
<hr align=left width="300px">
<p><a href="{{url_for('register')}}"> Регистрация</a>
</form>
{% endblock %}
